<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8">
    <title>Slintta - <%= post.title %></title>
    <meta name="description" content="Slintta's home page">
    <meta name="author" content="Slintta & Asaka">
    <link rel="icon" type="image/png" href="/static/image/head.png">
    <link rel="apple-touch-icon" href="/static/image/head.png">
    <link rel="stylesheet" href="/static/typo.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <script type="text/javascript">
var duoshuoQuery = {short_name:"slintta"};
(function() {
  var ds = document.createElement('script');
  ds.type = 'text/javascript';ds.async = true;
  ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
  ds.charset = 'UTF-8';
  (document.getElementsByTagName('head')[0] 
   || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
      </script>
  </head>
  <body>
    <img src="/static/image/home.png" style="display: none" />
    <img src="/static/image/head.png" style="display: none" />
    <div id="header">
      <div id="header-action">
        <% if (!user) { %>
          <a href="/login?type=weibo">微博登录</a>
        <% } else { %>
          <small><a target="_blank" href="<%= user.t_url %>"><%= user.name %></a></small>
          |
          <% if (user.id === '1186373612' || user.id === '1221830464') { %>
            <small><a href="/posts/new">发布文章</a></small>
          <% } %>
        <% } %>
      </div>
      <div id="header-wrapper">
        <a href="/">
          <img class="head-img" src="/static/image/head2.png" />
        </a>
      </div>
    </div>

    <div id="post-nav">
      <div class="post-nav-line" style="height: <%= (32 + 25) * (posts.length + 1) - 25 %>px;"></div>
      <div class="post-nav-wrapper" style="margin-top: <%= - ((32 + 25) * (posts.length + 1) - 25) %>px;">
        <a class="post-nav-item" data-index="0" href="/posts" title="首页">
          <div class="post-nav-item-inner"></div>
        </a>
        <% posts.forEach(function(p, index) { %>
          <a class="post-nav-item <% if (p.timestamp === post.timestamp) { %>post-nav-item-current<% } %>" href="/post/<%= p.timestamp.toString(36) %>" title="<%= p.title %>"></a>
        <% }) %>
      </div>
    </div>

    <div id="container">

      <div class="post">
        <div class="title">
          <h1><%= post.title %></h1>
        </div>
        <div class="date">
          <p><%= post.date %></p>
        </div>
        <div class="content typo typo-selection">
          <%- post.content %>
        </div>
        <% if (user && (user.id === '1186373612' || user.id === '1221830464')) { %>
          <div class="admin">
            <a id="delete-post" data-id="<%= post.timestamp.toString(36) %>" href="javascript:;">删除</a>
          </div>
        <% } %>
      </div>
      <div class="ds-thread" data-thread-key="<%= post.timestamp.toString(36) %>" data-title="<%= post.title %>" data-url="请替换成文章的网址"></div>

      <div id="footer">
        <hr />
        <p>❤ designed by Slintta &amp; made by Asaka</p>
      </div>
    </div>
  </body>
  <script>
$(function() {
  $(window).scroll(function(e) {
    var top = $(document).scrollTop();
    if (top > 100 ) {
      $("#post-nav").css({top: 150});
    } else {
      $("#post-nav").css({top: (250 - top)});
    }
  });
  $(".head-img").hover(function() {
    var img = $(this);
    img.animate({opacity: 0}, 200, function() {  
      img.attr("src", "/static/image/home.png");
    });
    img.animate({opacity: 1}, 200);
  }, function() {
    var img = $(this);
    img.animate({opacity: 0}, 200, function() {  
      img.attr("src", "/static/image/head2.png");
    });
    img.animate({opacity: 1}, 200);
  });

  $('#delete-post').click(function(f, e) {
    var postId = $('#delete-post').data('id');
    if (!window.confirm('确定删除？')) {
      return;
    }
    $.post('/post/' + postId + '/delete', function() {
      window.location = '/posts';
    })
  });
});
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60473550-1', 'auto');
  ga('send', 'pageview');
  </script>
</html>
